# Set default behavior to line ending to UNIX.
*.html eol=lf
*.js   eol=lf
*.json eol=lf
*.less eol=lf
*.md   eol=lf
*.svg  eol=lf
*.xml  eol=lf
*.py   eol=lf
*.ipynb eol=lf
*.yaml eol=lf
*.yml  eol=lf
*.sh   eol=lf
Dockerfile eol=lf
*.svelte eol=lf
*.ts eol=lf
*.txt eol=lf
*.toml eol=lf
*.css eol=lf
*.pem eol=lf
*.ps1 eol=lf
*.ini eol=lf
*.pylintrc eol=lf
*.lock eol=lf
*.gitignore eol=lf
.devcontainer/build_and_publish_docker_image eol=lf
.devcontainer/make_mount_folders eol=lf
CHANGELOG.md merge=union
*.ipynb filter=nbstripout
*.ipynb	diff=jupyternotebook
*.ipynb	merge=jupyternotebook
